.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    height: 60px;
}
.left-navbar-container{
    display: flex;
    align-items: center;
}
.right-navbar-container{
    display: flex;
    align-items: center;
}
li{
    list-style-type: none;
    margin: 0 10px;
    cursor: pointer;
    font-size: 23px;
    color:white;

}
p{
    margin-left:3px;
    cursor: pointer;
    font-size: 23px;
}
.icon-container{
    height:80px;
}